{% load static %}
<div class="accordion-item">
  <h2 class="accordion-header" id="afHeading">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#af" aria-expanded="false" aria-controls="af">


      <div class="container">
        <div class="row">
          <div class="col d-flex">
            <img id="experience-logo" class="align-self-center me-3" src="{% static 'main/img/af3.png' %}" alt="">
            <h5>
              US Air Force
              <small class="text-secondary d-block">Capt; Intelligence Analyst</small>
              <small class="text-secondary d-block">Oct 2012 - Aug 2017</small>
            </h5>
          </div>
        </div>
      </div>


    </button>
  </h2>
  <div id="af" class="accordion-collapse collapse" aria-labelledby="afHeading" data-bs-parent="#experienceAccordion">
    <div class="accordion-body text-secondary px-5">
      I was the military intelligence liaison to Department of Defense contractors that engineer, design and build military systems. To that end, I used Excel and Python to create military intelligence tools on behalf of major defense acquisitions programs.
    </div>
  </div>
</div>