{% load static %}

<div class="accordion-item">
  <h2 class="accordion-header" id="altamiraHeading">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#altamira" aria-expanded="false" aria-controls="altamira">


      <div class="container">
        <div class="row">
          <div class="col d-flex">
            <img id="experience-logo" class="align-self-center me-3" src="{% static 'main/img/altamira.png' %}" alt="">
            <h5>
              Altamira Technologies
              <small class="text-secondary d-block">Data Scientist II</small>
              <small class="text-secondary d-block">May 2022 - Present</small>
            </h5>
          </div>
        </div>
      </div>


    </button>
  </h2>
  <div id="altamira" class="accordion-collapse collapse" aria-labelledby="altamiraHeading" data-bs-parent="#experienceAccordion">
    <div class="accordion-body text-secondary">
      Using Django (Python), I'm actively developing a backend software solution for my client (White House) that creates synthetic data mirroring future production data; This synthetic data will help the client team to develop front-end programs for data ingestion much earlier in the development lifecycle      </div>
  </div>
</div>