{% load static %}

<div class="accordion-item">
  <h2 class="accordion-header" id="deloitteHeading">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#deloitte" aria-expanded="false" aria-controls="deloitte">


      <div class="container">
        <div class="row">
          <div class="col d-flex">
            <img id="experience-logo" class="align-self-center me-3" src="{% static 'main/img/deloitte.png' %}" alt="">
            <h5>
              Deloitte
              <small class="text-secondary d-block">Senior Consultant</small>
              <small class="text-secondary d-block">Dec 2020 - May 2022</small>
            </h5>
          </div>
        </div>
      </div>


    </button>
  </h2>
  <div id="deloitte" class="accordion-collapse collapse" aria-labelledby="deloitteHeading" data-bs-parent="#experienceAccordion">
    <div class="accordion-body text-secondary px-5">
      Leveraging the scikit-learn library in Python, I developed a functional Natural Language Processing (NLP) solution to ingest and clean qualitative, free-form survey results, then deliver a Sentiment Analysis based on the data.
      <br><br>
      Further, I created a program that generated individualized reports for this survey data that was disseminated to the Director of each FBI office across the world.
    </div>
  </div>
</div>