{% load static %}

<div class="accordion-item">
  <h2 class="accordion-header" id="jnjHeading">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#jnj" aria-expanded="false" aria-controls="jnj">


      <div class="container">
        <div class="row">
          <div class="col d-flex">
            <img id="experience-logo" class="align-self-center me-3" src="{% static 'main/img/jnj.png' %}" alt="">
            <h5>
              Johnson & Johnson
              <small class="text-secondary d-block">Sr. Financial Analyst</small>
              <small class="text-secondary d-block">Aug 2017 - May 2019</small>
            </h5>
          </div>
        </div>
      </div>


    </button>
  </h2>
  <div id="jnj" class="accordion-collapse collapse" aria-labelledby="jnjHeading" data-bs-parent="#experienceAccordion">
    <div class="accordion-body text-secondary px-5">
      I used Excel VBA and Python to automate the management of a $380MM Operational Expenses budget for one of Johnson & Johnson’s Medical Device companies.<br><br>
      I also provided finance leadership and decision support during the business planning process and quarterly updates, including identifying risks/ mitigation strategies related to investments.
    </div>
  </div>
</div>