{% load static %}

<div class="container-sm">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#experienceData">
                Experience
            </button>
        </h2>
        <div class="accordion-collapse collapse" id="experienceData" data-bs-parent="#resumeAccordion">
            <div class="accordion-body">

                <div class="accordion accordion-flush" id="experienceAccordion">
                    {% include 'experiences/altamira.html' %}
                    {% include 'experiences/deloitte.html' %}
                    {% include 'experiences/booz.html' %}
                    {% include 'experiences/jnj.html' %}
                    {% include 'experiences/af.html' %}
                </div>

            </div>
        </div>
    </div>
</div>