{% load static %}

<style>
    #contactLinks {
        background: none !important;
        border: none !important;
    }
</style>
<div class="container">
    <div class="row">


        <div class="col text-center mb-3 mt-3">

            <div class="mb-3">
                <img class="img-thumbnail rounded-circle" src="{% static 'main/img/headshot.jpg' %}" alt="">
            </div>

            <h3 class="h3 mb-3">
                Vince Berry
            </h3>

            <h5 class="h5 text-secondary mb-3">
                <i class="bi bi-house-door-fill"></i> Chicago, IL
            </h5>

            <div class="text-center mt-3 text-secondary mb-3">
                <h5 class="h5">
                    <a href="mailto:vincent.berry11@gmail.com"><i class="bi bi-envelope-fill text-secondary me-2"></i></a>
                    <button data-bs-toggle="modal" data-bs-target="#reg-modal" id="contactLinks" onclick="copyEmail()">
                        <i class="bi bi-clipboard text-secondary" style="font-size: 11px;"></i>
                    </button>
    
                    &nbsp; | &nbsp;
                    <a href="tel:6103687379"><i class="bi bi-telephone-fill text-secondary me-2"></i></a>
                    <button data-bs-toggle="modal" data-bs-target="#reg-modal" id="contactLinks" onclick="copyNumber()">
                        <i class="bi bi-clipboard text-secondary" style="font-size: 11px;"></i>
                    </button>
                </h5>
            </div>

            <div>
                <p class="text-secondary">
                    <i class="bi bi-airplane-engines-fill"></i> Veteran |
                    <i class="bi bi-mortarboard-fill"></i> MBA |
                    <i class="bi bi-file-earmark-code-fill"></i> Python Nerd
                </p>
            </div>

            <div class="text-center">
                <a href="https://www.github.com/vaberry" target="_blank" class="text-secondary">
                    <i class="bi bi-github"></i>&nbsp; vaberry
                    <i class="bi bi-box-arrow-up-right" style="font-size: 10px;"></i>
                    &nbsp; | &nbsp;
                </a>
                <a href="https://www.linkedin.com/in/vaberry" target="_blank" class="text-secondary">
                    <i class="bi bi-linkedin"></i>&nbsp; vaberry
                    <i class="bi bi-box-arrow-up-right" style="font-size: 10px;"></i>
                </a>
            </div>

            <hr>
            <div class="">
                <h6 class="h6 mt-3 text-secondary text-start">
                    I am a US Air Force veteran, Python developer, data scientist and
                    management consultant with 12 years of professional experience,
                    including large-scale data science initiatives, client software solutions,
                    Defense Acquisitions and Intelligence, and corporate finance.
                </h6>
            </div>
            <hr>

        </div>

    </div>
</div>

<div class="modal fade" id="reg-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-black">
                <h5 class="modal-titale" id="modal-title">Copied to your clipboard!</h5>
                <button class="btn-close bg-secondary" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>
