{% load static %}

<div class="container-sm">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#interestsData">
                Interests
            </button>
        </h2>
        <div class="accordion-collapse collapse" id="interestsData" data-bs-parent="#resumeAccordion">
            <div class="accordion-body">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, itaque! Quam nobis quos accusantium, beatae sint natus in veniam ad?
            </div>
        </div>
    </div>
</div>