{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container-sm">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#portfolioData">
                Technologies
            </button>
        </h2>
        <div class="accordion-collapse collapse" id="portfolioData" data-bs-parent="#resumeAccordion">
            <div class="accordion-body">
                
                
                <div class="container">
                    <div class="row">
                        <div class="col my-3 ">
                            <img src="https://img.icons8.com/ios-filled/50/6c757d/python.png"/>
                        </div>
                        <div class="col my-3 ">
                            <img src="https://img.icons8.com/ios-filled/50/6c757d/django.png"/>
                        </div>
                        <div class="col my-3 ">
                            <img src="https://img.icons8.com/ios-filled/50/6c757d/javascript-logo.png"/>
                        </div>
                        <div class="col my-3">
                            <img src="https://img.icons8.com/ios-filled/50/6c757d/react-native.png"/>
                        </div>
                        <div class="col my-3">
                            <img src="https://img.icons8.com/ios-filled/50/6c757d/sql.png"/>
                        </div>
                        <div class="col my-3">
                            <img src="https://img.icons8.com/ios-filled/50/6c757d/html-5--v1.png"/>
                        </div>
                        <div class="col my-3">
                            <img src="https://img.icons8.com/ios-filled/50/6c757d/css3.png"/>
                        </div>
                        <div class="col my-3">
                            <img src="https://img.icons8.com/ios/50/6c757d/linux.png"/>
                        </div>
                        <div class="col my-3">
                            <img src="https://img.icons8.com/windows/50/6c757d/node-js.png"/>
                        </div>
                        <div class="col my-3">
                            <img src="https://img.icons8.com/windows/64/6c757d/amazon-web-services.png"/>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</div>